body {
    margin: 0;
    background-color: #000;
    color: #fff;
}

.logo-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    padding: 15px;
}

.logo-banner img {
    width: 60px;
    height: auto;
}

.logo-banner h1 {
    margin: 0;
}

nav {
    background-color: #222;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
    margin: 0 auto;
    padding: 10px 0;
    width: fit-content;
}

nav ul li {
    flex: 0 0 auto;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 8px 16px;
    border-radius: 6px;
}

nav ul li a:hover, nav ul li a:active {
    background-color: grey;
}

main { 
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    text-align: center;
}

.table-container {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin-top: 20px
}

.concerts-table {
    width: 100%;
    min-width: 600px;
    border-collapse: collapse;
    margin-top: 20px;
    color: #fff;
    background-color: #111;
    border-radius: 8px;
    overflow: hidden;
}

.concerts-table th, .concerts-table td {
    border: 1px solid #444;
    padding: 12px 15px;
    text-align: left;
}

.concerts-table th {
    background-color: #222;
    letter-spacing: 1px;
}

@media (max-width: 700px) {
    .concerts-table th, .concerts-table td{
        text-align: right;
        padding: 8px 10px;
    }
    .concerts-table th {
        text-align: left;
        background: #222;
    }
    .concerts-table tr {
        margin-bottom: 10px;
    }
}

.gallery {
    display: grid;
    gap: 12px;
    margin-top: 20px;
}

.gallery.img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 6px;
}

.gallery img:hover {
    transform: scale (1.05);
    opacity: 0.9;
}

